# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = weibohotsearch_crawler.settings

# 下面的weibohotsearch为爬虫发布的名称
[deploy:weibohotsearch]
# scrapyd服务器地址
url = http://192.168.8.89:6800/
project = weibohotsearch_crawler

