# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = weibohotsearch_crawler.settings

# 下面的weibohotsearch为爬虫发布的名称
[deploy:weibohotsearch]
# scrapyd服务器地址
url = http://127.0.0.1:6801/
project = weibohotsearch_crawler
username = xiaomo
password = 19940809

