[Unit]
Description=scrapyd
After=network.target
Documentation=http://scrapyd.readthedocs.org/en/latest/api.html

[Service]
User=root
ExecStart=/spiders/env_py2.7/bin/scrapyd --logfile /spiders/weibohotsearch_crawler/scrapyd.log

[Install]
WantedBy=multi-user.target